# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.sqlite3
media/
staticfiles/

# Virtualenv
venv/
ENV/
env/
.venv/
.venv/*
clear_pycache.py
# VSCode
.vscode/

# PyCharm
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Test coverage
htmlcov/
.coverage
.tox/

# Migrations (если не хотите игнорировать, уберите следующую строку)
# ads/migrations/__pycache__/

# dotenv
.env
.env.*

# mypy
.mypy_cache/
.dmypy.json

# Black
.cache/

# pytest
.pytest_cache/ 